src/*.o*
*.a
*.tar.gz
webrtc-streamer
webrtc-streamer.exe
/node_modules/
package-lock.json
*.sln
*.vcxproj*
*.tlog
*.log
*.pdb
*.lib
*.dir
*.cmake
*.ilk
CMakeCache.txt
CMakeFiles
*.manifest
_CPack_Packages
live
/.vs/
/.vscode/
install_manifest.txt
Makefile
