dist: trusty
env:
  global:
    - PREFIX=/tmp
    - GYP_DEFINES="target_arch=arm"
    - GNARGSCOMMON='is_debug=false rtc_include_tests=false enable_nacl=false rtc_enable_protobuf=false use_custom_libcxx=false use_ozone=true rtc_include_pulse_audio=false' 
  matrix:
    - GYP_GENERATOR_OUTPUT=x86_64      GNARGS='rtc_use_h264=true ffmpeg_branding="Chrome"'
    - GYP_GENERATOR_OUTPUT=rpi-armv7  GNARGS='is_clang=false target_cpu="arm" treat_warnings_as_errors=false rtc_use_h264=true ffmpeg_branding="Chrome"' CROSS=arm-linux-gnueabihf- SYSROOT=${TRAVIS_BUILD_DIR}/webrtc/src/build/linux/debian_jessie_arm-sysroot
    - GYP_GENERATOR_OUTPUT=rpi-armv6  GNARGS='is_clang=false target_cpu="arm" treat_warnings_as_errors=false arm_version=6 arm_arch="armv6" arm_float_abi="hard" arm_use_neon=false arm_optionally_use_neon=false rtc_build_with_neon=false arm_use_thumb=false rtc_include_opus=false use_sysroot=false' TARGET_SYSROOT="${TRAVIS_BUILD_DIR}/webrtc/src/build/linux/debian_jessie_arm-sysroot" CROSS=arm-linux-gnueabihf- CFLAGS_EXTRA="-march=armv6 -mfpu=vfp -mfloat-abi=hard"
addons:
  apt:
    packages:
    - git
language: cpp
compiler:
- gcc
script:
# get toolchain need to build WebRTC
- git clone --depth 1 https://chromium.googlesource.com/chromium/tools/depot_tools.git
- export PATH=$PATH:$(pwd)/depot_tools
- git clone --depth 1 https://github.com/raspberrypi/tools.git rpi_tools
- export PATH=$PATH:$(pwd)/rpi_tools/arm-bcm2708/gcc-linaro-arm-linux-gnueabihf-raspbian-x64/bin
# get, build and install live555 & alsa
- make WEBRTCROOT=./webrtc PREFIX=${PREFIX} live555 alsa-lib
# get, build and install WebRTC
- rm -rf webrtc
- mkdir webrtc
- pushd webrtc
- fetch --no-history --nohooks webrtc
- gclient sync
- pushd src
- export GNEXTRAARGS=$(if [ "$TARGET_SYSROOT" != "" ]; then echo "target_sysroot=\"${TARGET_SYSROOT}\""; else echo ""; fi)
- gn gen ${GYP_GENERATOR_OUTPUT}/out/Release --args="${GNARGSCOMMON} ${GNARGS} ${GNEXTRAARGS}"
- ninja -C ${GYP_GENERATOR_OUTPUT}/out/Release jsoncpp rtc_json webrtc
- popd
- popd
# build
- make WEBRTCROOT=./webrtc PREFIX=${PREFIX} all tgz
before_deploy:
- export RELEASE_PKG_FILE=$(ls *.tgz)
- echo "RELEASE_PKG_FILE=${RELEASE_PKG_FILE}"   
deploy:
- provider: heroku
  skip_cleanup: true
  api_key:
    secure: NmTNf38MkoWWQZrRkXyWqCdRRO4Xjv+Kl0TOZPw+qCXva4kc2T0uwSi2o4YNZBUA533NyZvO6IJMQOpx24UkjPhxVv591FBB+HdUevOxD4SEAE8fBibpHVX3sTU0XLp/mx+BpNFdxKrEHHzoyBZBFjesQVVMVczB4AOv/KZerGw=
  on:
    repo: mpromonet/webrtc-streamer
    tags: false
    condition: $GYP_GENERATOR_OUTPUT = x86_64
- provider: releases
  skip_cleanup: true
  api_key:
    secure: FMXzmhBmuy7Jou3h5lG10b8xl5oqI96aYoUrUHO2rfKqQ4UMKxT3hXcdxOnSsnbI6d8NfXbOPKqmqmD4vTk+EqQjCK9fmsNxAg1UktLIsuOxoWmEWYLK5d3xpIuRmfRQDtPVjcryrE420FCfZS67lyr22+v1pLcvcD61ebGZLCg=
  file: 
  - "${RELEASE_PKG_FILE}"
  on:
    repo: mpromonet/webrtc-streamer
    tags: true
