name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: depot_tools
      run: git clone --depth 1 https://chromium.googlesource.com/chromium/tools/depot_tools.git
    - name: fetch webrtc
      run: |
          export PATH=$(pwd)/depot_tools:$PATH
          mkdir webrtc
          pushd webrtc
          fetch --no-history --nohooks webrtc
          sed -i -e "s|'src/resources'],|'src/resources'],'condition':'rtc_include_tests==true',|" src/DEPS 
          gclient sync 
          popd
    - name: cmake
      run: |
          export PATH=$(pwd)/depot_tools:$PATH
          cmake -DWEBRTCROOT=$(pwd)/webrtc .
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v1          
    - name: make 
      run: make VERBOSE=1
    - name: cpack 
      run: cpack       
